# Probability table
## loaded coin flip (3 flips)

In [250]:
# imports
import pandas as pd
import numpy as np

In [251]:
# setting up the coin flip table
coin_flips = {'flip1': ['H','H','H','T','H','T','T','T'],
     'flip2': ['H','H','T','H','T','T','T','H'],
     'flip3': ['H','T','H','H','T','H','T','T']}
df_coin = pd.DataFrame(data=coin_flips)
df_coin

  flip1 flip2 flip3
0     H     H     H
1     H     H     T
2     H     T     H
3     T     H     H
4     H     T     T
5     T     T     H
6     T     T     T
7     T     H     T

In [252]:
# probabiliy for loaded coin
P_H = 0.6
T_H = 0.4

In [253]:
# probability column in truth table
df_coin['pF1'] = np.where(df_coin['flip1']=='H', P_H, T_H)
df_coin['pF2'] = np.where(df_coin['flip2']=='H', P_H, T_H)
df_coin['pF3'] = np.where(df_coin['flip3']=='H', P_H, T_H)

In [254]:
# Total Prob
# using round() to avoid rounding errors in float that make equality comparisons impossible
df_coin['prob'] = round(df_coin['pF1'] * df_coin['pF2'] * df_coin['pF3'], 3)
df_coin

  flip1 flip2 flip3  pF1  pF2  pF3   prob
0     H     H     H  0.6  0.6  0.6  0.216
1     H     H     T  0.6  0.6  0.4  0.144
2     H     T     H  0.6  0.4  0.6  0.144
3     T     H     H  0.4  0.6  0.6  0.144
4     H     T     T  0.6  0.4  0.4  0.096
5     T     T     H  0.4  0.4  0.6  0.096
6     T     T     T  0.4  0.4  0.4  0.064
7     T     H     T  0.4  0.6  0.4  0.096

In [255]:
# One H prob
oneHProb = df_coin.loc[df_coin['prob'] == 0.096].sum()
round(oneHProb.prob, 3)

0.288

## Even dice throw

In [256]:
# setting up the dice throw table
dice_throw = {'throw1': [1,2,3,4,5,6]}
df_dice = pd.DataFrame(data=dice_throw)
df_dice

   throw1
0       1
1       2
2       3
3       4
4       5
5       6

In [257]:
# probabilities
P = 1/6

In [258]:
# probability column in truth table
df_dice['pT1'] = P
df_dice

   throw1       pT1
0       1  0.166667
1       2  0.166667
2       3  0.166667
3       4  0.166667
4       5  0.166667
5       6  0.166667

In [260]:
# Even throw probability
evenThrow = df_dice.loc[(df_dice['throw1'])%2 == 0]
evenThrowP = evenThrow['pT1'].sum()
evenThrowP

0.5

In [262]:
# Probability of double
# add second throw to truth table
dice_throw = {'throw1': [1,2,3,4,5,6],'throw2': [1,2,3,4,5,6]}
df_dice = pd.DataFrame(data=dice_throw)
df_dice

   throw1  throw2
0       1       1
1       2       2
2       3       3
3       4       4
4       5       5
5       6       6

In [263]:
# probability column in truth table
df_dice['pT1'] = P
df_dice['pT2'] = P
df_dice

   throw1  throw2       pT1       pT2
0       1       1  0.166667  0.166667
1       2       2  0.166667  0.166667
2       3       3  0.166667  0.166667
3       4       4  0.166667  0.166667
4       5       5  0.166667  0.166667
5       6       6  0.166667  0.166667

In [264]:
# Total Prob
# using round() to avoid rounding errors in float that make equality comparisons impossible
df_dice['prob'] = round(df_dice['pT1'] * df_dice['pT2'], 3)
df_dice

   throw1  throw2       pT1       pT2   prob
0       1       1  0.166667  0.166667  0.028
1       2       2  0.166667  0.166667  0.028
2       3       3  0.166667  0.166667  0.028
3       4       4  0.166667  0.166667  0.028
4       5       5  0.166667  0.166667  0.028
5       6       6  0.166667  0.166667  0.028

In [272]:
# double probability
double_prob = df_dice.loc[df_dice['prob'] == 0.028].sum()
round(double_prob.prob, 3)

0.16800000000000001