## Daan - stats section - excercises

In [1]:
# imports
import pandas as pd
import numpy as np
import math
import statistics as stats
import matplotlib.pyplot as plt
% matplotlib inline

In [101]:
# input: paste list inside of '[]'
my_list = [15, 4, 3, 8, 15, 22, 7, 9, 2, 3, 3, 12, 6]

In [124]:
# turn list into dataframe for plotting
df = pd.DataFrame(np.array(my_list).reshape(-1,1),columns=['Numbers'])

    Numbers
0        15
1         4
2         3
3         8
4        15
5        22
6         7
7         9
8         2
9         3
10        3
11       12
12        6

In [116]:
# sorted list
sorted_list = sorted(my_list)
# 5 number summary
n_list = len(my_list)
min_list = min(sorted_list)
max_list = max(sorted_list)
# mean = average
mean_list = np.mean(sorted_list)
range_list = max(sorted_list) - min(sorted_list)
# median = middle
median_list = stats.median(sorted_list)
# mode = most
mode_list = stats.mode(sorted_list)
# numpy array
arr = np.array(sorted_list)
# percentiles
first_percentile = np.percentile(arr, 25)
first_percentile_floor = math.floor(first_percentile)
second_percentile = np.percentile(arr, 50)
stats.median(my_list)
third_percentile = np.percentile(arr, 75)
IQR_list = third_percentile - first_percentile
# variance and std
variance_arr = np.var(arr)
standard_deviation_arr = np.std(arr)

In [103]:
# outputs
'n = ' + str(n_list)

'n = 13'

In [104]:
'median = ' + str(median_list)

'median = 7'

In [105]:
'mode = ' + str(mode_list)

'mode = 3'

In [106]:
'min_list = ' + str(min_list)

'min_list = 2'

In [107]:
'max_list = ' + str(max_list)

'max_list = 22'

In [108]:
'mean_list = ' + str(mean_list)

'mean_list = 8.38461538462'

In [109]:
'range_list = ' + str(range_list)

'range_list = 20'

In [110]:
'1stQuart_list = ' + str(first_percentile)

'1stQuart_list = 3.0'

In [111]:
'2ndQuart_list = ' + str(second_percentile)

'2ndQuart_list = 7.0'

In [112]:
'3rdQuart_list = ' + str(third_percentile)

'3rdQuart_list = 12.0'

In [113]:
'IQR_list = ' + str(IQR_list)

'IQR_list = 9.0'

In [114]:
'var_list = ' + str(variance_arr)

'var_list = 33.9289940828'

In [115]:
'std_list = ' + str(standard_deviation_arr)

'std_list = 5.82486000543'