In [1]:
# library imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import statistics
import scipy.stats as sci
%matplotlib inline

In [2]:
# file import
df_raw = pd.read_excel('./superherodata-matched.xlsx')
df_raw.head(1)

       Name Alignment  Intelligence  Strength  Unnamed: 4      Hero   Rival
0  Iron Man      good         100.0      85.0         NaN  Iron Man  Ultron

In [3]:
df_raw

,Name,Alignment,Intelligence,Strength,Unnamed: 4,Hero,Rival
0,Iron Man,good,100.000000,85.000000,NaN,Iron Man,Ultron
1,Captain America,good,63.000000,65.000000,NaN,Captain America,Red Skull
2,Hulk,good,88.000000,100.000000,NaN,Hulk,Abomination
3,Hawkeye,good,62.000000,12.000000,NaN,Hawkeye,Bullseye
4,Thor,good,69.000000,100.000000,NaN,Thor,Loki
5,Spider-Man,good,88.000000,55.000000,NaN,Spider-Man,Green Goblin
6,Average,NaN,78.333333,69.500000,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ultron,bad,95.000000,83.000000,NaN,NaN,NaN
9,Red Skull,bad,90.000000,30.000000,NaN,NaN,NaN
10,Abomination,bad,85.000000,80.000000,NaN,NaN,NaN
11,Bullseye,bad,75.000000,11.000000,NaN,NaN,NaN
12,Loki,bad,87.000000,57.000000,NaN,NaN,NaN
13,Green Goblin,bad,85.000000,35.000000,NaN,NaN,NaN
14,Average,NaN,86.166667,49.333333,NaN,NaN,NaN

In [9]:
# intelligence arrays
goodInt = df_raw['Intelligence'].iloc[0:6]
goodInt

0    100.0
1     63.0
2     88.0
3     62.0
4     69.0
5     88.0
Name: Intelligence, dtype: float64

In [10]:
# intelligence arrays
badInt = df_raw['Intelligence'].iloc[8:14]
badInt

8     95.0
9     90.0
10    85.0
11    75.0
12    87.0
13    85.0
Name: Intelligence, dtype: float64

In [16]:
# T-test for the means of TWO INDEPENDENT samples of scores
intTTest = sci.ttest_ind(goodInt, badInt, axis=0, equal_var=True)
intTTest

Ttest_indResult(statistic=-1.1205095545912165, pvalue=0.28868503197303447)

In [17]:
# strength arrays
goodStr = df_raw['Strength'].iloc[0:6]
goodStr

0     85.0
1     65.0
2    100.0
3     12.0
4    100.0
5     55.0
Name: Strength, dtype: float64

In [18]:
# strength arrays
badStr = df_raw['Strength'].iloc[8:14]
badStr

8     83.0
9     30.0
10    80.0
11    11.0
12    57.0
13    35.0
Name: Strength, dtype: float64

In [23]:
# T-test for the means of TWO INDEPENDENT samples of scores.
strTTest = sci.ttest_ind(goodStr, badStr, axis=0, equal_var=True)
strTTest

Ttest_indResult(statistic=1.1147174588142275, pvalue=0.29104440880175197)

In [24]:
# T-test on TWO RELATED samples of scores, a and b
intRelTTest = sci.ttest_rel(goodInt, badInt)
intRelTTest

Ttest_relResult(statistic=-1.4326871448205387, pvalue=0.2113828440847432)

In [25]:
# T-test on TWO RELATED samples of scores, a and b
strRelTTest = sci.ttest_rel(goodStr, badStr)
strRelTTest

Ttest_relResult(statistic=2.911987470743906, pvalue=0.033322599465829272)